---

// src\pages\about.astro

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="アバウトページ">
    <Header />
    <main>
        <h2>アバウトページ</h2>
        <div>
            <h3>プロフィール</h3>
            香川真司（かがわ しんじ、1989年3月17日 - ）は、兵庫県神戸市垂水区出身のプロサッカー選手[5]。<br>
            セレッソ大阪所属。ポジションはミッドフィールダー（MF）。元日本代表。
        </div>
    </main>
    <Footer />
</Layout>

<style>
    main {
        max-width: 800px;
        margin:  0 auto;
    }
</style>
