---

// src\pages\index.astro

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="トップページ">
    <Header />
    <main>
        <h2>トップページざますよ。6月28日でござる。<br>
        リポリトジのastro-new-kobashi0628-copyにだけデプロイ。<br>Astro７へのアップグレード！</h2>
    </main>
    <Footer />
</Layout>

<style>
    main {
        max-width: 800px;
        margin: 0 auto;
    }
</style>
