---

// \astro-kobashi\src\pages\thanks.astro

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

---

<Layout>
    <Header />
    <main>
        <h2>サンクスページ</h2>
        
        <p>お問い合わせ、ありがとうございました。</p>
        <br><hr><br>

        <div><a href="/">トップページへ</a></div>
  
    </main>
    <Footer />
</Layout>

<!-- CSS -->

<style>

    main {
        margin: auto;
        max-width: 800px;
    }

</style>
